nav {
    background-color: #000000;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}




li {
    display: inline;
    margin-right: 20px;
}


a {
    text-decoration: none;
    color: #ffffff;
}


a:hover {
    color: #de2e2e;
}

.playwrite {
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
  }
.titulo{
    text-align: center;
}
img{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10%;
   display: block ;
   margin: 0 auto;
}

.p1{
    background-color: #fdf8f8;
    border: 5px solid rgb(7, 7, 7);
    width: 25%;
    margin: 0 auto;
    
}
    
.p2{
    background-color: #fdf8f8;
    border: 1px solid rgb(7, 7, 7);
    width: 62.3%;
}
.p3{

    background-color: #fdf8f8;
    border: 1px solid rgb(7, 7, 7);
    width: 99%;


}
    
    .handjet{
      font-family: "Handjet", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      font-variation-settings:
        "ELGR" 1,
        "ELSH" 2;
    }